* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*bao gồm cả pad, cont, margin, border */

}

#header {
    height: 68px;
    padding-left: 100px;
    position: absolute;
}

#header .list{
    display: flex;
}

#header .list .propertises img{
    max-height: 68px;
    max-width: 200px;
    object-fit: cover;
}

#header .list li{
    display: inline-block;
}

#header .list li a:hover{
    transition: 0.5s ease;
    background-color: #23A6F0;
}

#header .list li a{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 68px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

#line1{
    border-top: 0.3px solid #fff;
    width: 82px;
    float: right;
    margin-right: 195px;
}

#line2{
    width: 1500px;
    opacity:0.5;
    border-top: 0.5px solid #fff;
}

#slider{
    height: 800px;
    background: url('/assets/img/background.jpg') top center / cover no-repeat;
}

#content{
    position: relative;
    width: 680px;
    height: 330px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#content .inforusername .username{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 60px;
    border-radius: 12px;
}

#content .inforusername .textname{
    width: 300px;
    padding: 15px;
    transform: translateX(50px);
    border-radius: 12px;
    border: 0px solid #878787;
}

#content .inforpassword{
    margin-top: 30px;
}

#content .inforpassword .password{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 80px;
    border-radius: 12px;
}

#content .inforpassword .textpass{
    width: 300px;
    padding: 16px;
    transform: translateX(50px);
    border-radius: 12px;
    border: 0px solid #878787;
}

#content .signin-button{
    margin-top: 35px;
    background-color: #00EDFC;
    padding: 15px 40px;
    border-radius: 12px;
    border: 0px solid #878787;
}

#content .signin-button:hover{
    cursor: pointer;
}

#content .remindpass .tick{
    margin-top: 20px;
    display: block;
    background-color: #fff;
    width: 25px;
    height: 24px;
}

#content .remindpass .tick:hover{
    border: 0.3px solid #000;
}

#content .remindpass .tick i{
    color: #000;
    line-height: 24px;
    padding-left: 5px;
}

#ticki{
    display: none;
}

#content .remindpass {
    display: flex;
}

#content .remindpass p {
    margin-top: 22px;
    margin-left: 5px;
    color: #00EDFC;
    font-size: 20px;
}

#content .remindpass .forgotpass{
    margin-top: 22px;
    margin-left: 5px;
    color: #00EDFC;
    font-size: 20px;
    text-decoration: none;
    transform: translateX(150px);
}

#loginsuccess{
    display: none;
    position: relative;
    background-image: url(/assets/img/loginsuccess.png);
    width: 510px;
    height: 200px;
    left: 450px;
    transform: translateX(-50%);
    transform: translateY(-100px);
}
