* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*bao gồm cả pad, cont, margin, border */

}

#header {
    height: 68px;
    padding-left: 100px;
    position: absolute;
}

#header .list{
    display: flex;
}

#header .list .propertises img{
    max-height: 68px;
    max-width: 200px;
    object-fit: cover;
}

#header .list li{
    display: inline-block;
}

#header .list li a:hover{
    transition: 0.5s ease;
    background-color: #23A6F0;
}

#header .list li a{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 68px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

#line1{
    border-top: 0.3px solid #fff;
    width: 80px;
    float: right;
    margin-right: 310px;
}

#line2{
    width: 1500px;
    opacity:0.5;
    border-top: 0.5px solid #fff;
}

#slider{
    height: 800px;
    background: url('/assets/img/background.jpg') top center / cover no-repeat;
}

#content{
    position: relative;
    width: 680px;
    height: 330px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-65%);
}



#content .inforusername .username{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 60px;
    border-radius: 12px;
}

#content .inforusername .textname{
    width: 300px;
    padding: 15px;
    transform: translateX(50px);
    border-radius: 12px;
    border: 0px solid #878787;
}

#content .email,
#content .retypepass,
#content .phonenumber,
#content .inforpassword{
    margin-top: 30px;
}

#content .inforpassword .password{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 81px;
    border-radius: 12px;
}

#code_email .code input,
#content .phonenumber input,
#content .email input,
#content .retypepass input,
#content .phonenumber input,
#content .inforpassword input{
    width: 300px;
    padding: 16px;
    transform: translateX(50px);
    border-radius: 12px;
    border: 0px solid #878787;
}

#content .retypepass b{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 50.5px;
    border-radius: 12px;
}

#content .email b{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 93px;
    border-radius: 12px;
}

#content .phonenumber b{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 69.5px;
    border-radius: 12px;
}

#content .regist-button{
    margin-top: 45px;
    background-color: #00EDFC;
    padding: 15px 60px;
    border-radius: 12px;
    border: 0px solid #878787;
}

#content .regist-button:hover{
    cursor: pointer;
}

#verify{
    display: none;
    position: relative;
    background-image: url(/assets/img/Capcha.png);
    width: 577px;
    height: 360px;
    left: 450px;
    transform: translateX(-50%);
    transform: translateY(-100px);
}

#verify .verify_but{
    position: relative;
    width: 60px;
    height: 60px;
    transform: translate(20px,195px);
}

#verify .verify_but:hover{
    cursor: pointer;
}

#tick{
    display: none;
    opacity: 0;
    transition: opacity 1s transform 1s ease-in;
    transform: rotate(0deg);
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
/* important */




#verify,
#content{
    /* display: none; */
}

#code_email{
    display: none;
    position: relative;
    width: 680px;
    height: 330px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-65%);
}

#code_email img{
    position: absolute;
    width: 500px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
}

#code_email .code{
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
}

#code_email .code > b{
    background-color: #00EDFC;
    display: block;
    float: left;
    padding: 15px 70px;
    border-radius: 12px;
}

#code_email .authenticate{
    margin-top: 45px;
    background-color: #00EDFC;
    padding: 15px 60px;
    border-radius: 12px;
    border: 0px solid #878787;
    font-size: 20px;
}

#code_email .authenticate:hover{
    cursor: pointer;
}

#code_email .authenticatesuccess{
    display: none;
    position: relative;
    background-image: url(/assets/img/authenticatesuccess.png);
    width: 510px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
}
